/*
    Stylesheet for bencarlsondesign.
   */
<style>
    table {
        border-collapse: collapse;
        border:1px solid;
        border-left: groove;
    }
    body {
          background-color: cadetblue
    }
    img {
        height: 200px;
        border-width: medium;
        padding: 1px;
        margin: 0 10px 10px 0;
        width: 400px;
    }
    img:hover {
        border: 6px solid cadetblue;
        cursor: pointer;
    }
</style>


